body[scheme="client_dark"] {
  --accent: #71AAEB;
  --action_sheet_action_foreground: #FFFFFF;
  --action_sheet_separator: rgba(255, 255, 255, 0.12);
  --activity_indicator_tint: #5d5f61;
  --attach_picker_tab_active_background: #E1E3E6;
  --attach_picker_tab_active_icon: #19191A;
  --attach_picker_tab_active_text: #E1E3E6;
  --attach_picker_tab_inactive_background: #2c2d2e;
  --attach_picker_tab_inactive_icon: #E1E3E6;
  --attach_picker_tab_inactive_text: #76787A;
  --background_content: #19191A;
  --background_highlighted: rgba(255, 255, 255, 0.12);
  --background_keyboard: #2c2d2e;
  --background_light: #232324;
  --background_page: #0A0A0A;
  --background_suggestions: #2c2d2e;
  --button_bot_shadow: #19191A;
  --button_commerce_background: #4BB34B;
  --button_commerce_foreground: #FFFFFF;
  --button_muted_background: #2c2d2e;
  --button_muted_foreground: #E1E3E6;
  --button_outline_border: #E1E3E6;
  --button_outline_foreground: #E1E3E6;
  --button_primary_background: #E1E3E6;
  --button_primary_foreground: #19191A;
  --button_secondary_background: #454647;
  --button_secondary_foreground: #E1E3E6;
  --button_tertiary_background: rgba(0, 0, 0, 0.00);
  --button_tertiary_foreground: #E1E3E6;
  --cell_button_foreground: #E1E3E6;
  --content_placeholder_icon: #aaaeb3;
  --content_placeholder_text: #aaaeb3;
  --content_tint_background: #232324;
  --content_tint_foreground: #909499;
  --control_background: #454647;
  --control_foreground: #E1E3E6;
  --control_tint: #19191A;
  --control_tint_muted: #909499;
  --counter_primary_background: #71AAEB;
  --counter_primary_text: #FFFFFF;
  --counter_prominent_background: #ff3347;
  --counter_prominent_text: #FFFFFF;
  --counter_secondary_background: #76787A;
  --counter_secondary_text: #19191A;
  --destructive: #FF4E5F;
  --field_background: #232324;
  --field_border: rgba(255, 255, 255, 0.12);
  --field_error_background: #522E2E;
  --field_error_border: #FF4E5F;
  --field_valid_border: #4BB34B;
  --field_text_placeholder: #76787A;
  --float_button_background: #454647;
  --float_button_background_highlighted: #5d5f61;
  --float_button_foreground: #aaaeb3;
  --float_button_border: rgba(0, 0, 0, 0.12);
  --header_alternate_background: #19191A;
  --header_alternate_tab_active_indicator: #E1E3E6;
  --header_alternate_tab_active_text: #E1E3E6;
  --header_alternate_tab_inactive_text: #76787A;
  --header_background: #19191A;
  --header_background_before_blur: #141414;
  --header_background_before_blur_alternate: #141414;
  --header_search_field_background: #454647;
  --header_search_field_tint: #aaaeb3;
  --header_tab_active_background: #5d5f61;
  --header_tab_active_text: #E1E3E6;
  --header_tab_active_indicator: #E1E3E6;
  --header_tab_inactive_text: #76787A;
  --header_text: #E1E3E6;
  --header_text_alternate: #E1E3E6;
  --header_text_secondary: rgba(255, 255, 255, 0.60);
  --header_tint: #E1E3E6;
  --header_tint_alternate: #E1E3E6;
  --icon_alpha_placeholder: #E1E3E6;
  --icon_medium: #909499;
  --icon_outline_medium: #aaaeb3;
  --icon_outline_secondary: #909499;
  --icon_secondary: #76787A;
  --icon_tertiary: #454647;
  --im_attach_tint: #71AAEB;
  --im_bubble_border_alternate: rgba(0, 0, 0, 0.00);
  --im_bubble_border_alternate_highlighted: rgba(0, 0, 0, 0.00);
  --im_bubble_button_background: #454647;
  --im_bubble_button_background_highlighted: #76787A;
  --im_bubble_button_foreground: #E1E3E6;
  --im_bubble_incoming: #2c2d2e;
  --im_bubble_incoming_alternate: #2c2d2e;
  --im_bubble_incoming_alternate_highlighted: #5d5f61;
  --im_bubble_incoming_highlighted: #5d5f61;
  --im_bubble_gift_background: #9E8D6B;
  --im_bubble_gift_text: #FFFBF2;
  --im_bubble_gift_text_secondary: #F4E4BE;
  --im_bubble_outgoing: #454647;
  --im_bubble_outgoing_alternate: #454647;
  --im_bubble_outgoing_highlighted: #5d5f61;
  --im_bubble_outgoing_alternate_highlighted: #76787A;
  --im_bubble_wallpaper_button_background: #454647;
  --im_bubble_wallpaper_button_background_highlighted: #76787A;
  --im_bubble_wallpaper_button_foreground: #E1E3E6;
  --im_bubble_wallpaper_incoming: #2c2d2e;
  --im_bubble_wallpaper_incoming_highlighted: #5d5f61;
  --im_bubble_wallpaper_incoming_border: #19191A;
  --im_bubble_wallpaper_outgoing: #454647;
  --im_bubble_wallpaper_outgoing_highlighted: #5d5f61;
  --im_bubble_wallpaper_outgoing_border: #2c2d2e;
  --im_forward_line_tint: #FFFFFF;
  --im_reply_sender_text: #FFFFFF;
  --im_reply_separator: #FFFFFF;
  --im_toolbar_voice_msg_background: #454647;
  --im_toolbar_separator: #aaaeb3;
  --image_border: rgba(255, 255, 255, .08);
  --input_background: #454647;
  --input_border: #454647;
  --landing_background: #19191A;
  --landing_field_background: #232324;
  --landing_field_border: rgba(255, 255, 255, 0.12);
  --landing_field_placeholder: #aaaeb3;
  --landing_login_button_background: #E1E3E6;
  --landing_login_button_foreground: #19191A;
  --landing_primary_button_background: #E1E3E6;
  --landing_primary_button_foreground: #19191A;
  --landing_tertiary_button_background: rgba(0, 0, 0, 0.00);
  --landing_tertiary_button_foreground: #76787A;
  --landing_text_primary: #E1E3E6;
  --landing_text_title: #FFFFFF;
  --landing_text_secondary: #76787A;
  --landing_secondary_button_background: rgba(255, 255, 255, 0.15);
  --landing_secondary_button_foreground: #FFFFFF;
  --landing_snippet_border: rgba(0, 0, 0, 0.00);
  --like_text_tint: #FF4E5F;
  --link_alternate: #71AAEB;
  --loader_background: #19191A;
  --loader_tint: #76787A;
  --loader_track_fill: #454647;
  --loader_track_value_fill: #71AAEB;
  --media_overlay_button_background: #FFFFFF;
  --media_overlay_button_foreground: #2c2d2e;
  --modal_card_background: #2c2d2e;
  --modal_card_border: rgba(255, 255, 255, 0.12);
  --modal_card_header_close: #FFFFFF;
  --music_playback_icon: #FFFFFF;
  --feed_recommended_friend_promo_background: #6D7885;
  --overlay_status_background: #19191A;
  --overlay_status_foreground: #E1E3E6;
  --overlay_status_icon: #ebedf0;
  --placeholder_icon_background: rgba(255, 255, 255, .08);
  --placeholder_icon_foreground_primary: #909499;
  --placeholder_icon_foreground_secondary: #5d5f61;
  --placeholder_icon_tint: #FFFFFF;
  --poll_option_background: #FFFFFF;
  --search_bar_background: #19191A;
  --search_bar_field_background: #454647;
  --search_bar_field_tint: #aaaeb3;
  --search_bar_segmented_control_tint: #909499;
  --segmented_control_bar_background: #19191A;
  --segmented_control_tint: #76787A;
  --selection_off_icon: #454647;
  --separator_alpha: rgba(255, 255, 255, 0.15);
  --separator_alternate: #232324;
  --separator_common: #313233;
  --snippet_background: #2c2d2e;
  --snippet_border: rgba(255, 255, 255, 0.15);
  --snippet_icon_tertiary: #5d5f61;
  --splashscreen_icon: #2c2d2e;
  --statusbar_alternate_legacy_background: rgba(0, 0, 0, 0.00);
  --stories_create_button_background_from: #313233;
  --stories_create_button_background_to: #313233;
  --stories_create_button_foreground: #C4C8CC;
  --stories_skeleton_loader_background: #454647;
  --stories_create_button_icon_background: #454647;
  --switch_ios_off_border: #2c2d2e;
  --tabbar_active_icon: #FFFFFF;
  --tabbar_background: #2c2d2e;
  --tabbar_inactive_icon: #76787A;
  --tabbar_tablet_active_icon: #71AAEB;
  --tabbar_tablet_background: #232324;
  --tabbar_tablet_inactive_icon: #76787A;
  --tabbar_tablet_text_primary: #E1E3E6;
  --tabbar_tablet_text_secondary: #76787A;
  --toolbar_attach_background_from: #76787A;
  --toolbar_attach_background_to: #5d5f61;
  --text_action_counter: #aaaeb3;
  --text_link: #71AAEB;
  --text_link_hightlighted_background: #71AAEB;
  --text_muted: #C4C8CC;
  --text_name: #E1E3E6;
  --text_placeholder: #aaaeb3;
  --text_primary: #E1E3E6;
  --text_secondary: #76787A;
  --text_subhead: #909499;
  --text_tertiary: #5d5f61;
  --icon_name: #aaaeb3;
  --panel_tab_active_background: #454647;
  --panel_tab_active_text: #E1E3E6;
  --panel_tab_inactive_text: #76787A;
  --im_service_message_text: #818C99;
  --writebar_icon: #909499;
  --dynamic_blue: #528bcc;
  --dynamic_gray: #A3ADB8;
  --dynamic_red: #ff3347;
  --dynamic_green: #4BB34B;
  --dynamic_orange: #FFA000;
  --dynamic_violet: #928DAB;
  --android_active_color: #2c2d2e;
}